.pattern_bg {
	background: linear-gradient(70deg, $green 0%, $white 20%, $white 65%, $green 100%);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1000;
	opacity: 0.3;
}

.pattern_bg svg {
	display: block;
	position: absolute;
	bottom: 0;
}

.pattern_bg svg:first-child {
	top: 0;
}

.pattern_bg svg path {
	stroke: $green;
	fill: $green;
}